/**
 * Comment comment comment comment
 * Comment comment comment comment
 */
 
type {
	test: 1;
	test: 0.25;
	test: abc;
	test: "abc def";
	test: #012 #abc #ABCDEF;
	test: func(1, 2, func(3));
}

type type type {}
type, type, type {}

.class {}
#id {}
type.class {}
type#id {}
type:pseudo {}
type > type {}
type#id.class .class > type#id #id :pseudo{}