/**
 * Style based on the colors of the Microsoft Expression Blend editor.
 * @author Aurelien Ribon | http://www.aurelienribon.com/
 */

aurelienribon-ui-components-Button {
	-swing-horizontalalignment: center;
	-swing-verticalalignment: center;
	-swing-margin: 3 5;
	-swing-foreground: #FFF;
	-arui-foreground-mouseover: #000;
	-arui-foreground-mousedown: #FFF;
	-arui-stroke: #333;
	-arui-stroke-mouseover: #333;
	-arui-stroke-mousedown: #1A1A1A;
	-arui-fill: #595959;
	-arui-fill-mouseover: #AAAAAA;
	-arui-fill-mousedown: #424242;
	-arui-strokethickness: 1;
	-arui-cornerradius: 10;
}

aurelienribon-ui-components-TabPanel {
	-swing-background: #727272;
	-swing-border: null;
	-arui-foreground-unselected: #FFF;
	-arui-foreground-selected: #FFF;
	-arui-foreground-mouseover: #FFF;
	-arui-stroke: null;
	-arui-stroke-unselected: null;
	-arui-stroke-mouseover: null;
	-arui-stroke-selected: null;
	-arui-fill-unselected: null;
	-arui-fill-mouseover: #333;
	-arui-fill-selected: #444;
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JTextArea {
	-swing-font: "Monospaced" plain 11;
	-swing-tabsize: 4;
	-swing-background: #CCC;
	-swing-foreground: #000;
}

#rootPanel {
	-swing-background: #282828;
	-arui-fill: null;
}

#styleControlPanel, #tabPanelControlPanel {
	-swing-background: #727272;
	-swing-border: arui-groupborder(noarg);
	-arui-border-stroke: #444;
	-arui-border-thickness: 1;
	-arui-border-header-stroke: null;
	-arui-border-header-thickness: 0;
	-arui-border-header-fill: #444;
	-arui-border-margin: 3 6;
	-arui-border-foreground: #FFF;
}

#styleControlPanel {
	-arui-border-title: "Style";
}

#tabPanelControlPanel {
	-arui-border-title: "TabPanel demo";
}

.applyButton {
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #59CC59, 0.5, #59CC59);
}

.resetButton {
	-arui-stroke: #F33;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #AA5959, 0.5, #AA5959);
}