/**
 * Style based on the colors of the Microsoft Visual Studio 2010 editor.
 * @author Aurelien Ribon | http://www.aurelienribon.com/
 */

aurelienribon-ui-components-Button {
	-swing-horizontalalignment: center;
	-swing-verticalalignment: center;
	-swing-margin: 3 5;
	-swing-foreground: #000;
	-arui-foreground-mouseover: #000;
	-arui-foreground-mousedown: #000;
	-arui-stroke: #898C95;
	-arui-stroke-mouseover: #333;
	-arui-stroke-mousedown: #1A1A1A;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #E7E7E7, 0.5, #D1D1D1);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #DBF0FC, 0.5, #B0DFF8);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #F2F9FC, 0.5, #DCEEF7);
	-arui-strokethickness: 1;
	-arui-cornerradius: 10;
}

aurelienribon-ui-components-TabPanel {
	-swing-background: #BBC8D8;
	-swing-border: matteborder(5, 0, 0, 0, #FDE1A0);
	-arui-foreground-unselected: #FFF;
	-arui-foreground-selected: #000;
	-arui-foreground-mouseover: #FFF;
	-arui-stroke: null;
	-arui-stroke-unselected: null;
	-arui-stroke-mouseover: #9BA7B7;
	-arui-stroke-selected: null;
	-arui-fill-unselected: null;
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0, #6F7776, 1, #4F5F74);
	-arui-fill-selected: lineargradient(0, 0, 0, 1, 0.49, #FFFAE7, 0.5, #FDE1A0);
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JTextArea {
	-swing-font: "Monospaced" plain 11;
	-swing-tabsize: 4;
	-swing-background: #FFF;
	-swing-foreground: #000;
}

#rootPanel {
	-arui-fill: texture(url("/gfx/back_vs2010.png"));
}

#styleControlPanel, #tabPanelControlPanel {
	-swing-background: #BBC8D8;
	-swing-border: arui-groupborder(noarg);
	-arui-border-stroke: null;
	-arui-border-thickness: 0;
	-arui-border-header-stroke: null;
	-arui-border-header-thickness: 0;
	-arui-border-header-fill: lineargradient(0, 0, 0, 1, 0, #4D6082, 1, #3D5277);
	-arui-border-margin: 3 6;
	-arui-border-foreground: #FFF;
}

#styleControlPanel {
	-arui-border-title: "Style";
}

#tabPanelControlPanel {
	-arui-border-title: "TabPanel demo";
}

.applyButton {
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #E7FFE7, 0.5, #D1FFD1);
}

.resetButton {
	-arui-stroke: #FF8C95;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #FFE7E7, 0.5, #FFD1D1);
}