/**
 * Style based on the colors of the Oracle Netbeans editor.
 * @author Aurelien Ribon | http://www.aurelienribon.com/
 */

aurelienribon-ui-components-Button {
	-swing-horizontalalignment: center;
	-swing-verticalalignment: center;
	-swing-margin: 3 5;
	-swing-foreground: #000;
	-arui-foreground-mouseover: #000;
	-arui-foreground-mousedown: #000;
	-arui-stroke: #898C95;
	-arui-stroke-mouseover: #333;
	-arui-stroke-mousedown: #1A1A1A;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #E7E7E7, 0.5, #D1D1D1);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #DBF0FC, 0.5, #B0DFF8);
	-arui-fill-mousedown: lineargradient(0, 0, 0, 1, 0.49, #F2F9FC, 0.5, #DCEEF7);
	-arui-strokethickness: 1;
	-arui-cornerradius: 10;
}

aurelienribon-ui-components-TabPanel {
	-swing-background: #CDCED1;
	-swing-border: matteborder(0, 1, 1, 1, #898C95);
	-arui-foreground-unselected: #000;
	-arui-foreground-selected: #000;
	-arui-foreground-mouseover: #000;
	-arui-stroke: #898C95;
	-arui-stroke-unselected: #898C95;
	-arui-stroke-mouseover: #3C7FB1;
	-arui-stroke-selected: #3C7FB1;
	-arui-fill-unselected: lineargradient(0, 0, 0, 1, 0.49, #E7E7E7, 0.5, #D1D1D1);
	-arui-fill-mouseover: lineargradient(0, 0, 0, 1, 0.49, #DBF0FC, 0.5, #B0DFF8);
	-arui-fill-selected: lineargradient(0, 0, 0, 1, 0.49, #F2F9FC, 0.5, #DCEEF7);
}

javax-swing-JScrollPane {
	-swing-border: null;
}

javax-swing-JTextArea {
	-swing-font: "Monospaced" plain 11;
	-swing-tabsize: 4;
	-swing-background: #FFF;
	-swing-foreground: #000;
}

.rootPanel {
	-swing-background: #F0F0F0;
}

.styleControlPanel, .tabPanelControlPanel {
	-swing-background: #CDCED1;
	-swing-border: arui-groupborder(noarg);
	-arui-border-stroke: #898C95;
	-arui-border-thickness: 1;
	-arui-border-header-stroke: #898C95;
	-arui-border-header-thickness: 1 1 0 1;
	-arui-border-header-fill: lineargradient(0, 0, 0, 1, 0.49, #F2F9FC, 0.5, #DCEEF7);
	-arui-border-margin: 3 6;
	-arui-border-foreground: #000;
}

.styleControlPanel {
	-arui-border-title: "Style";
}

.tabPanelControlPanel {
	-arui-border-title: "TabPanel demo";
}

.applyButton {
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #E7FFE7, 0.5, #D1FFD1);
}

.resetButton {
	-arui-stroke: #FF8C95;
	-arui-fill: lineargradient(0, 0, 0, 1, 0.49, #FFE7E7, 0.5, #FFD1D1);
}